        body {
            margin: 0;
            padding: 0;
            background-color: #232323;
            font-family: Helvetica, sans-serif;
        }

        .navbar {
            background: none;
            overflow: hidden;
        }

        .navbar a {
            float: right;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        h1, p, h2{
            margin: 50px 50px 0 50px;
            color: white;
            font-weight: 400;
        }

        h1{
            font-size: 44px;
        }

        p{
            font-size: 18px;
        }

        h2{
            font-size: 22px;
        }
