        body {
            margin: 0;
            padding: 0;
            background-color: #232323;
            font-family: Helvetica, sans-serif;
        }

        .navbar {
            background: none;
            overflow: hidden;
        }

        .navbar a {
            float: right;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar img {
            float: left;
            width: 5%;
            height: 5%;
            padding: 5px;
        }

        .header img {
            width: 100%;
            height: 300px;
        }

        #keywords {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;
        }

        .keywords {
            margin: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .keyword-text {
            display: none;
            color: white;
        }
        
        .keywords.open .keyword-text {
            display: block;
        }


        h1, p, h2{
            color: white;
            font-weight: 400;
        }

        h1{
            font-size: 44px;
        }

        p{
            font-size: 18px;
        }

        h2{
            font-size: 22px;
        }

        #intro{
            margin: 50px 50px 0 50px;
        }

        #afdelinger{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;

        }
        
        .droparrow{
            height: 12px;
        }
