        body {
            margin: 0;
            padding: 0;
            background-color: black;
            font-family: Helvetica, sans-serif;
        }

        .navbar {
            background:black;
            overflow: hidden;
        }

        .navbar a {
            float: right;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        h1{
            margin: 50px 50px 0 50px;
            color: white;
            font-size: 48px;
            font-weight: 100;
        }
