body {
    margin: 0;
    padding: 0;
    background-color: #232323;
    font-family: Helvetica, sans-serif;
}

.navbar {
    background: none;
    overflow: hidden;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar img {
    float: left;
    width: 5%;
    height: 5%;
    padding: 5px;
}


        .header img {
            width: 100%;
            height: 400px;
        }

        #keywords {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px;
        }

        .keywords {
            margin: 50px;
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .keyword-text {
            display: none;
            color: white;
        }

        .keywords.open .keyword-text {
            display: block;
        }


h1, p, h2{
    color: white;
    font-weight: 400;
}


h1{
    font-size: 44px;
}

p{
    font-size: 18px;
    line-height: 1.3;
    margin: 6px;
}


#intro{
  margin: 50px 50px 0 50px;
      }

#afdelinger{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 10px;
        }

.section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kolonner */
  grid-gap: 10px; /* Afstand mellem elementerne */
  padding: 30px;
  box-sizing: border-box;
        }

.section-item {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.section-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.section-item h1 {
    margin-top: 22px;
}


.text {
    margin-top: 10px;
    color: white;
}

#billede1 {
  margin-top: 70px;
}

#afdelinger{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 10px;
}

.afdeling{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.droparrow{
    height: 12px;
    margin: 10px 0 0 5px;
}

.information{
    display: none;
    background-color: #313131;
    padding: 10px;
}

.information p, li, b{
    font-size: 16px;
    color: white;
}

.boldtxt{
    font-weight: bold;
}

button{
    background: none;
    border: none;
}
